{% extends "base_tabs.html" %}
{% load crispy_forms_tags %}
{% block head_title %} Edit {{ blog.title }} {% endblock %}
{% block cols-panel %}col-md-12{% endblock %}
{% block out_panel %}
<head>
  {{ form.media }}
</head>
<h1 class="text-center">Editing {{ blog.title }}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <div style="margin-bottom:25px;">
      <small class="text-muted">Current tags: {{ blog.get_tags }}</small>
    </div>
    <input class="btn btn-success" type="submit" value="Update Blog Post">
</form>
{% endblock %}
