{% extends "blog_base.html" %}
{% load static %}
{% load hosts %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/blog_home.css' %}">
  <link rel="stylesheet" href="{% static 'css/blog_home.mobile.css' %}">
{% endblock %}
    <!-- also copied pasted from Neal. For the life of me i cant get this to work when i put it in blog_home.css. Take a look later -->
{% block content %}
    <!-- First Parallax Image with Logo Text -->
    <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
      <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">BLOG <span class="w3-hide-small"></span></span>
      </div>
    </div>

    <div class="text-center mt-5">
      <div class="container">
        <form class="" action="{% url 'blog_home' %}" method="get">
          {% csrf_token %}
          <input id="blog-search" class="search-bar" type="text" placeholder="Search" name="blog-search">
        </form>
      </div>
    </div>
    <div class="creatediv mt-5">
      {% if request.user.is_organizer %}
      <a href="{% url 'blog_add' %}" class="addbtn">Create new post +</a>
      {% endif %}
    </div>
    <div class="page-container">
      {% for blog in blogs %}
        <hr class="divider">
          <div class="blog-container">
            <a class='' href="{% url 'blog_detail' blog.id %}">
              <img src="{{ blog.thumbnail.url }}" class="blog-thumbnail">
              <div class="blog-details">

                  <p class="blog-date">{{ blog.format_publication_date }}</p>
                  <h1 class="blog-title">{{ blog.title }}</h1>
                  <p class="blog-description"> {{ blog.description }}</p>
                  {% if request.user.is_organizer %}
                  <a href="{% url 'blog_edit' blog.id %}" class="editbtn">Edit Post</a>
                  {% endif %}
                  <div class="tag-container">
                    {% for tag in blog.tags.all %}
                      <a class="tag"> {{ tag }}</a>
                    {% endfor %}
                  </div>

              </div>
            </a>
          </div>
      {% endfor %}
    </div>

    <!-- pagination -->
    {% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="jumpbtn"><i class="material-icons">first_page</i></a>
                <a href="?page={{ page_obj.previous_page_number }}" class="pagebtn">{{ page_obj.previous_page_number }}</a>
            {% endif %}

            <span class="currentpagebtn">{{ page_obj.number }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="pagebtn">{{ page_obj.next_page_number }}</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="jumpbtn"><i class="material-icons">last_page</i></a>
            {% endif %}
        </span>
    </div>
    {% endif %}
    {% endblock %}
