*{
    margin: auto;
    height: 100%;
    box-sizing: border-box;
    background-image: url(../images/vector.png);
}

body{
    text-align: center;
    overflow-x: hidden;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
  background: none;
  display: block;
}

/* Inspo and animation credit: https://codepen.io/wintr/pen/mPLvVp */
@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}

@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}

#layer9 {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    transform-box: fill-box;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;
}
