asn1crypto==0.24.0
blinker==1.4
Brlapi==0.6.7
certifi==2018.8.24
chardet==3.0.4
chrome-gnome-shell==0.0.0
command-not-found==0.3
cryptography==2.6.1
cupshelpers==1.0
dbus-python==1.2.12
defer==1.0.6
defusedxml==0.6.0
distro==1.3.0
distro-info===0.21ubuntu4
dj-database-url==0.5.0
Django==2.2.10
django-appconf==1.0.3
django-bootstrap3==8.2.3
django-crispy-forms==1.8.1
django-environ==0.4.5
django-filter==2.2.0
django-form-utils==1.0.3
django-hosts==4.0
django-jet==1.0.8
django-markdownx==2.0.28
django-storages==1.8
django-tables2==1.14.2
djangorestframework==3.8.2
dropbox==8.7.1
entrypoints==0.3
et-xmlfile==1.0.1
flake8==3.4.1
google-api-python-client==1.7.9
google-auth==1.10.0
google-auth-httplib2==0.0.3
gunicorn==19.6.0
hidpidaemon==18.4.5
httplib2==0.9.2
idna==2.7
jdcal==1.4.1
keyring==18.0.1
keyrings.alt==3.1.1
language-selector==0.1
launchpadlib==1.10.7
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
louis==3.10.0
macaroonbakery==1.2.3
Markdown==2.6.7
markdown2==2.3.8
mccabe==0.6.1
netifaces==0.10.4
oauth2client==4.0.0
oauthlib==2.0.2
odfpy==1.4.0
openpyxl==3.0.0
packaging==16.8
Pillow==6.1.0
protobuf==3.6.1
psycopg2==2.8.3
psycopg2-binary==2.8.3
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycairo==1.16.2
pycodestyle==2.3.1
pycrypto==2.6.1
pycups==1.9.73
pydbus==0.6.0
pyflakes==1.5.0
PyGObject==3.34.0
PyJWT==1.7.0
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.1.10
pyRFC3339==1.1
python-apt==1.9.0+ubuntu1
python-http-client==2.2.1
python-openid==2.2.5
python-xlib==0.23
pytz==2017.2
pyxdg==0.26
PyYAML==5.3
Repoman==1.0.2
requests==2.20.0
requests-oauthlib==0.8.0
requests-unixsocket==0.1.5
rsa==3.4.2
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
sendgrid==3.6.3
sendgrid-django==4.0.4
sessioninstaller==0.0.0
simplejson==3.16.0
six==1.10.0
slackclient==1.3.0
sqlparse==0.3.0
system-service==0.3
systemd-python==234
tablib==0.12.1
ubuntu-advantage-tools==19.5
ubuntu-drivers-common==0.0.0
ufw==0.36
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.24.3
uuid==1.30
wadllib==1.3.3
websocket-client==0.57.0
whitenoise==3.3.1
xkit==0.0.0
xlrd==1.2.0
xlwt==1.3.0
