{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UGAHacks 5</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static"Hacks5Images/Favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static"Hacks5Images/Favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static"Hacks5Images/Favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "Hacks5Images/Favicon/site.webmanifest" %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static "css/mainstyle.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="{% static "Hacks5Images/hackslogo.png" %}" alt="UGAHacks 5" id="navbarlogo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-nav" id="navbarNavAltMarkup">
        <a class="nav-item nav-link" href="#HOF">Hall of Fame</a>
        <a class="nav-item nav-link" href="#About">About</a>
        <a class="nav-item nav-link" href="#Challenges">Challenges</a>
        <a class="nav-item nav-link" href="#Schedule">Schedule</a>
        <a class="nav-item nav-link" href="#Registration">Registration</a>
        <a class="nav-item nav-link" href="#FAQ">FAQ</a>
        <a class="nav-item nav-link" href="#Map">Map</a>
        <a class="nav-item nav-link" href="#Organizers">Organizers</a>
        <a class="nav-item nav-link" href="#Pasthack">Past Events</a>
        <a class="nav-item nav-link" href="#Sponsors">Sponsors</a>
        <a class="nav-item nav-link" href="mailto:hello@uga.edu" class="textlink">Contact Us</a>
    </div>
    </nav>
    <div id="mainheader">
      <img src="{% static "Hacks5Images/hackslogo.png" %}" alt="" id="mainbannerlogo">
      <div class="sectionhead">
        <h3><b>February 7 - 9, 2020 at Zell B. Miller Learning Center</b></h3>
        <br>
        <br>
        <a href="index.html" id="regbtn">Registration</a>
      </div>
    </div>
    <div id="HOF">
      <div class="section" data-aos="fade-up">
        <div class="sectionhead">
          <br>
          <h1>Hall of Fame</h1>
        </div>
      <div class="sectiontext">
        <h3 id="congrats">Congratulations to all of our winners!</h3>
      </div>
      <div class="container-fluid" data-aos="fade-right">
              <div class="card-deck">
                <div class="col-12 col-sm-6 col-md-4">
                  <h4 class="awardtitle">Best Overall</h4>
                <div class="card bg-transparent border-0">
                  <img class="card-img-top" src="{% static "Hacks5Images/hackslogo.png" %}" alt="">
                  <div class="card-body">
                    <h5 class="card-title"><b>Sample Project - Sample Team Members</b></h5>
                    <p class="card-text">Brief Description about the project</p>
                    <a href="index.html" class="btn btn-outline-warning">Check out their project on DevPost!</a>
                  </div>
                </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                <h4 class="awardtitle">Best Idea</h4>
                <div class="card bg-transparent border-0">
                  <img class="card-img-top" src="{% static "Hacks5Images/hackslogo.png" %}" alt="">
                  <div class="card-body">
                    <h5 class="card-title"><b>Sample Project - Sample Team Members</b></h5>
                    <p class="card-text">Brief Description about the project</p>
                    <a href="index.html" class="btn btn-outline-warning">Check out their project on DevPost!</a>
                  </div>
                </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                <h4 class="awardtitle">Best Design</h4>
                <div class="card bg-transparent border-0">
                  <img class="card-img-top" src="{% static "Hacks5Images/hackslogo.png" %}" alt="">
                  <div class="card-body">
                    <h5 class="card-title"><b>Sample Project - Sample Team Members</b></h5>
                    <p class="card-text">Brief Description about the project</p>
                    <a href="index.html" class="btn btn-outline-warning">Check out their project on DevPost!</a>
                  </div>
                </div>
              </div>
              </div>
            </div>
      </div>
    </div>
    <div id="About">
      <div class="section" data-aos="fade-up">
        <div class="sectionhead">
          <br>
          <h1>About</h1>
        </div>
      <div class="sectiontext">
        <p>This year at UGAHacks, we are all about helping your ideas blast off. Hackathons are all about exploring the galaxies filled with ideas and claiming one for yourself. You might even explore multiple planets before settling on one ,or use one as a base station to reach other ones. Log on and join us for this epic 36 hour programming sleepover, hosted at UGA's <a href="https://goo.gl/maps/rMa5f99XiaW39a8e6" class="textlink">Zell B. Miller Learning Center.</a></p>
        <p>Houston -- we got a problem! Fret not, we have mentors, workshops, and volunteers to help you get those critical resources so you can venture forth. Two resources you'll not need to worry about is food and water as plenty of shipments from Earth will be sent out throughout the event. We also got fun events such as karaoke and video game tournaments when you just want to unwind and float around in space. Just remember not to get sucked up into the black hole of procrastination!</p>
        <p>Don't worry if you are not a CS major, or don't feel comfortable coding! We have many workshops for you to attend, mentors to straighten the trajectory of your project, and supportive teammates waiting for your arrival! We can't wait to see your otherworldly ideas!</p>
      </div>
      </div>
    </div>
    <div id="Challenges">
      <div class="section" data-aos="fade-up">
        <div class="sectionhead">
          <br>
          <h1>Challenges</h1>
        </div>
        <div class="sectiontext">
          <p>Stranded and don't know what to code? Don't worry - challenges have your back.
            Challenges are projects geared around using a specific theme or tool ,and the best project built around a challenge's criteria will receive a prize.
            We'll post more information detailing the list of challenges from us and our sponsors as the event goes on.</p>
        </div>
      </div>
    </div>
    <div id="Schedule">
      <div class="section" data-aos="fade-up">
        <div class="sectionhead">
          <br>
          <h1>Schedule</h1>
        </div>
        <div class="scheduletext">
          <div class="schedulecol" data-aos="fade-up-right">
            <h3>Friday - Feb. 7th</h3>
            <div class="sectiontext">
              <p><b>9:00 am</b> Example Workshop by ___ (Location)</p>
            </div>
          </div>
          <div class="schedulecol" data-aos="fade-up">
            <h3>Saturday - Feb. 8th</h3>
            <div class="sectiontext">
              <p><b>9:00 am</b> Example Workshop by ___ (Location)</p>
            </div>
          </div>
          <div class="schedulecol" data-aos="fade-up-left">
            <h3>Sunday - Feb. 9th</h3>
            <div class="sectiontext">
              <p><b>9:00 am</b> Example Workshop by ___ (Location)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="Registration">
      <div class="section" data-aos="fade-up">
        <div class="sectionhead">
          <br>
          <h1>Registration</h1>
        </div>
        <div class="sectiontext">
          <h4><a href="#" class="textlink">Join us for UGA's 5th annual hackathon!</a></h4>
          <br>
          <p>This year is all about expanding our horizons and reaching for the stars. Hope to see you in February!</p>
          <p>UGAHacks will be following the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" class="textlink"> MLH Code of Conduct</a>. By participating in UGAHacks, you are agreeing to follow the Code of Conduct throughout the duration of the event.</p>
          <h2 id="keydates">Key Dates</h2>
          <div class="keydatestext">
            <div class="datecol" data-aos="fade-up-right">
              <h3>Registration Opens:</h3>
              <h2><b>November Date</b></h2>
            </div>
            <div class="datecol" data-aos="fade-up">
              <h3>Registration Closes:</h3>
              <h2><b>Sample Date</b></h2>
            </div>
            <div class="datecol" data-aos="fade-up-left">
              <h3>Decision Response:</h3>
              <h2><b>Sample Date</b></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="FAQ">
      <div class="section" data-aos="fade-up">
        <div class="sectionhead">
          <br>
          <h1>FAQ</h1>
        </div>
        <div class="questionrow">
          <div class="questioncol" data-aos="fade-up-right">
            <h4>Where will it be held at this year?</h4>
            <p>At the <a href="https://goo.gl/maps/rMa5f99XiaW39a8e6" class="textlink">Zell B. Miller Learning Center</a>, University of Georgia, Athens, GA.</p>
            <h4>How much will it cost to sign up?</h4>
            <p>Nothing! The entire event and its amazing perks are free for all participants, including meals and snacks to keep you powered throughout the weekend, as well as workshops to help you get started and sharpen your hacking skills.</p>
            <h4>Can I start working on my project before the event?</h4>
            <p>No. All UGAHacks projects must begin at the hackathon. You are not permitted to begin a hackathon project before this event. Feel free to bring ideas, but no code!</p>
            <h4>How many people can I have on my team?</h4>
            <p>There is no hard limit, but we recommend teams be at most 4 people, as we only have prizes for 4 people per team.</p>
            <h4>Where will I sleep?</h4>
            <p>We'll have designated sleeping areas for hackers, but they will be on a first-come-first-serve basis. You're welcome and even encouraged to bring a sleeping bag!</p>
            <h4>Who do I reach out to if I have more questions?</h4>
            <p>Reach out to <a href="mailto:hello@uga.edu" class="textlink">hello@uga.edu</a> and we'll be happy to answer it!</p>
          </div>
          <div class="questioncol" data-aos="fade-up-left">
            <h4>Who can sign up?</h4>
            <p>All university students! We welcome all undergraduates and graduate students of all skill levels to attend. Professionals and other guests are welcome to attend as mentors or volunteers.</p>
            <h4>What should I bring?</h4>
            <p>Enthusiasm! Laptops, phones, chargers, and other tools you might need for your project are also important! If you're staying overnight, be sure to bring the necessary toiletries and a sleeping bag. Additionally, please bring your official student ID or government ID (no photocopies allowed).</p>
            <h4>What if I don't have a team or idea?</h4>
            <p>Don't sweat it! You're free to join any existing team or form a new one when you get there. We'll also provide ample opportunities for hackers to meet each other and brainstorm some amazing ideas.</p>
            <h4>Will you be offering travel reimbursements?</h4>
            <p>Yes, we will be offering travel reimbursements! Please make sure to note it on your registration and we will reach out to you upon acceptance. University of Georgia students are not eligible to receive travel reimbursements.</p>
            <h4>Can I volunteer/mentor at UGAHacks?</h4>
            <p>We love your enthusiasm! Volunteers and mentors can apply via the registration form above! If you have any questions regarding the position, please contact us at <a href="mailto:hackathon@uga.edu" class="textlink">hackathon@uga.edu</a> - Be sure to mention the specific position in the subject of the email. See you at the event!</p>
          </div>
        </div>
      </div>
    </div>
    <div id="Map">
      <div class="section" data-aos="fade-up">
        <div class="sectionhead">
          <br>
          <h1>Map</h1>
        </div>
        <div class="sectiontext">
          <p>Insert blank SVG floor map of MLC along with markers maped to locations (once layout is determined)</p>
        </div>
      </div>
    </div>
    <div id="Organizers">
      <div class="section" data-aos="fade-up">
        <div class="sectionhead">
          <br>
          <h1>Organizers</h1>
        </div>

        <div class="container">
            <nav>
                <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link " id="nav-team-tab" data-toggle="tab" href="#nav-team" role="tab" aria-controls="nav-team" aria-selected="true">The Team</a>
                    <a class="nav-item nav-link " id="nav-direct-tab" data-toggle="tab" href="#nav-direct" role="tab" aria-controls="nav-direct" aria-selected="false">Director</a>
                    <a class="nav-item nav-link" id="nav-advis-tab" data-toggle="tab" href="#nav-advis" role="tab" aria-controls="nav-advis" aria-selected="false">Advisor</a>
                    <a class="nav-item nav-link active" id="nav-market-tab" data-toggle="tab" href="#nav-market" role="tab" aria-controls="nav-market" aria-selected="false">Marketing</a>
                    <a class="nav-item nav-link" id="nav-logs-tab" data-toggle="tab" href="#nav-logs" role="tab" aria-controls="nav-logs" aria-selected="false">Logistics</a>
                    <a class="nav-item nav-link" id="nav-sponso-tab" data-toggle="tab" href="#nav-sponso" role="tab" aria-controls="nav-sponso" aria-selected="false">Sponsorship</a>
                    <a class="nav-item nav-link" id="nav-web-tab" data-toggle="tab" href="#nav-web" role="tab" aria-controls="nav-web" aria-selected="false">Web</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="nav-team" role="tabpanel" aria-labelledby="nav-team-tab">
                    <div class="tabhead">
                      <h5>About the team</h5>
                      <p>This year we have managed to get people on board to make this Hackathon an amazing master piece. We have different departments that have been doing there best to make this Hack amazing and happen. Here are the different sections
                          below.
                      </p>
                    </div>
                </div>
                <div class="tab-pane fade " id="nav-direct" role="tabpanel" aria-labelledby="nav-direct-tab">
                    <div class="tabhead">
                      <h5>The Directors:</h5>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img src="./Images/temp-pic-lead.png">
                                <p>Lead Director: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-mark.png">
                                <p>Marketing Director: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-log.png">
                                <p>Logistics Director: Bloop Blerp</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><img src="./Images/temp-pic.png">
                                <p>Sponsorship Director: Bloop</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-sec.png">
                                <p>Web Director: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-sec.png">
                                <p>Director: Bloop Blerp</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-advis" role="tabpanel" aria-labelledby="nav-advis-tab">
                  <div class="tabhead">
                    <h5>The Advisors:</h5>
                  </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img src="./Images/temp-pic-adv.png">
                                <p>Advisor: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-adv.png">
                                <p>Advisor: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-adv.png">
                                <p>Advisor: Bloop Blerp</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active " id="nav-market" role="tabpanel" aria-labelledby="nav-market-tab">
                  <div class="tabhead">
                    <h5>The Marketing Team:</h5>
                  </div>
                    <div class="container" data-aos="flip-up">
                        <div class="row">
                            <div class="col">
                                <img src="./Images/temp-pic-mark.png">
                                <p>Marketing: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-mark.png">
                                <p>Marketing: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-mark.png">
                                <p>Marketing: Bloop Blerp</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="./Images/temp-pic-mark.png">
                                <p>Marketing: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-mark.png">
                                <p>Marketing: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-mark.png">
                                <p>Marketing: Bloop Blerp</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-logs" role="tabpanel" aria-labelledby="nav-logs-tab">
                  <div class="tabhead">
                    <h5>The Logistics Team:</h5>
                  </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img src="./Images/temp-pic-log.png">
                                <p>Logistics: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-log.png">
                                <p>Logistics: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-log.png">
                                <p>Logistics: Bloop Blerp</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="./Images/temp-pic-log.png">
                                <p>Logistics: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-log.png">
                                <p>Logistics: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-log.png">
                                <p>Logistics: Bloop Blerp</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-sponso" role="tabpanel" aria-labelledby="nav-sponso-tab">
                  <div class="tabhead">
                    <h5>The Sponsorship Team:</h5>
                  </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img src="./Images/temp-pic.png">
                                <p>Sponsorship: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic.png">
                                <p>Sponsorship: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic.png">
                                <p>Sponsorship: Bloop Blerp</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="./Images/temp-pic.png">
                                <p>Sponsorship: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic.png">
                                <p>Sponsorship: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic.png">
                                <p>Sponsorship: Bloop Blerp</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-web" role="tabpanel" aria-labelledby="nav-web-tab">
                  <div class="tabhead">
                    <h5>The Web Team:</h5>
                  </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img src="./Images/temp-pic-sec.png">
                                <p>Web: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-sec.png">
                                <p>Web: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-sec.png">
                                <p>Web: Bloop Blerp</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="./Images/temp-pic-sec.png">
                                <p>Web: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-sec.png">
                                <p>Web: Bloop Blerp</p>
                            </div>
                            <div class="col">
                                <img src="./Images/temp-pic-sec.png">
                                <p>Web: Bloop Blerp</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <br>
    <br>
    <div id="Pasthack">
        <div class="section" data-aos="fade-up">
            <div class="sectionhead">
                <br>
                <h1>Past Events</h1>
            </div>
            <div class="container" data-aos="fade-left">
                <div id="phcarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#phcarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#phcarousel" data-slide-to="1"></li>
                        <li data-target="#phcarousel" data-slide-to="2"></li>
                        <li data-target="#phcarousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <a href="https://web.archive.org/web/20190305191220/https://ugahacks.com/"> <img class="d-block w-100 " src="Images/banner/ugahacks4banner.JPG " alt="First slide "></a>

                            <div class=" carousel-caption d-none d-md-block ">
                                <h5>UGAHacks 4</h5>
                                <p>Find out more!</p>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <a href="https://web.archive.org/web/20180505170945/https://ugahacks.com/"><img class="d-block w-100 " src="Images/banner/ugahacks3banner.JPG " alt="First slide "></a>

                            <div class="carousel-caption d-none d-md-block ">
                                <h5>UGAHacks 3</h5>
                                <p>Find out more!</p>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <a href="https://web.archive.org/web/20170514085830/http://www.ugahacks.com/"> <img class="d-block w-100 " src="Images/banner/ugahacks2banner.JPG " alt="First slide "></a>

                            <div class="carousel-caption d-none d-md-block ">
                                <h5>UGAHacks 2</h5>
                                <p>Find out more!</p>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <a href="https://web.archive.org/web/20160305020755/https://ugahacks.com/"><img class="d-block w-100 " src="Images/banner/ugahacks1banner.JPG " alt="First slide "></a>

                            <div class="carousel-caption d-none d-md-block ">
                                <h5>UGAHacks 1</h5>
                                <p>Find out more!</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev " href="#phcarousel " role="button " data-slide="prev ">
                        <span class="carousel-control-prev-icon " aria-hidden="true "></span>
                        <span class="sr-only ">Previous</span>
                    </a>
                    <a class="carousel-control-next " href="#phcarousel " role="button " data-slide="next ">
                        <span class="carousel-control-next-icon " aria-hidden="true "></span>
                        <span class="sr-only ">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="Sponsors">
      <div class="section" data-aos="fade-up">
        <div class="sectionhead">
          <br>
          <h1>Sponsors</h1>
        </div>
        <div class="sectiontext">
          <h4>Interested in sponsoring us?</h4>
          <p>By sponsoring UGAHacks, your company will have the opportunity to inspire new programmers while also reaching out to and recruiting the rising stars of the tech industry. Please look over the sponsorship packet linked below and reach out to our sponsorship team for more information.</p>
          <a href="{% static "docs/UGAHacks 5 Sponsorship Deck.pdf" %}" class="sponsorlink">Sponsorship Packet</a>
          <br>
          <a href="mailto:sponsor@uga.com" class="sponsorlink">sponsor@uga.com</a>
        </div>
      </div>
    </div>
    <footer>
      <a href="https://github.com/ugahacks/" class="footericons"><img src="./Images/Icons/icons8-github.png"></a>
      <a href="https://www.facebook.com/ugahacks/" class="footericons"><img src="./Images/Icons/icons8-facebook.png"></a>
      <a href="https://twitter.com/ugahacks" class="footericons"><img src="./Images/Icons/icons8-twitter.png"></a>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
