{% extends "base_tabs.html" %}

{% load static %}
{% load bootstrap3 %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/checkin.css' %}">
{% endblock %}

{% block head_title %}Self Check-In {{ app.user.name }}{% endblock %}

{% block cols-panel %}col-md-6 col-md-offset-3{% endblock %}

{% block out_panel %}
  <div class="panel-footer">
    {% if h_checkin_time_left %}
    <div style="padding: 1em 1.5em 1.5em 1.5em;">
      <h4 class="text-center" style="margin-bottom: 15px;">Online Check-in is Closed!</h4>
      <p class="text-center">Contact us at <a target="_blank" href="mailto:{{ h_contact_email }}">{{ h_contact_email }}</a>
         if you think this is an error.</p>
    </div>
    {% else %}
      {% if checkedin %}
        <div style="padding: 1em 1.5em 1.5em 1.5em;">
          <h4 style="text-align: center; margin-bottom: 15px;">You are already checked in!</h4>
        </div>
      {% else %}
        <h3 style="text-align: center; margin-bottom: -5px;">Check-in with one click:</h3>
        <form action="" method="post" style="padding-top: 1.5em;">
          {% csrf_token %}
          <input type="hidden" name="app_id" value="{{ app.uuid }}"/>
          <button class="btn btn-success btn-block" name="checkin">Check In</button>
        </form>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
