.button-qr {
    padding: 15px 20px 12px;
    border: 3px solid #000;
    font-size: 100px;
    border-radius: 4px;
    color: white;
    background: #1e3158;
    width: 100%;
    text-align: center;
}

.button-qr-success {
    color: #3c763d;
    border-color: #3c763d;
}

.input-qr {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}

.help-block {
    display: none;
}

.has-error .help-block {
    display: block;
}


.scanning-popup-scan {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    padding: 15px;
    border: 3px solid #333;
    z-index: 1032;
    background-color: white;
}

.scanning-popup-scan select {
    margin-bottom: 15px;
}

.scanning-popup-scan video {
    width: 100%;
    margin: 0 auto;
}

.scanning-popup-scan .container-fluid {
    padding: 0;
}

.scanning-popup-scan .header {
    background: #ffffff;
    border: 1px solid #d6d4d4;
    color: #3a3a3a;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 18px;
    margin-bottom: 4px;
}

.scanning-popup-scan .error {
    color: #a60000;
}

.scanning-popup-scan .ready {
    color: green;
}

.video-container {
    position: relative;
}

.video-container .status {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 25px;
    padding: 50px 15px 10px;
    font-size: 24px;
    display: none;
}

.veil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1031;
    background-color: rgba(30, 30, 30, 0.9);
    cursor: pointer;
}

#credentialsCollapse {
    border: 1px solid #0c1e36;
    padding: 10px;
    margin-top: 5px;
    border-radius: 2px;
}

#credentialsCollapse .row {
    margin-bottom: 50px;
}

.permission-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.permission-circle.denied {
    background: red;
    box-shadow: 0 0 1px red;
}

.permission-circle.granted {
    background: green;
    box-shadow: 0 0 1px green;
}


/* commit checkout */

.circle-loader {
    margin-bottom: 3.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left-color: green;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 7em;
    height: 7em;
}

.load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: green;
    transition: border 500ms ease-out;
}

.checkmark {
    display: none;
}

.checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
}

.checkmark:after {
    opacity: 1;
    height: 3.5em;
    width: 1.75em;
    transform-origin: left top;
    border-right: 3px solid green;
    border-top: 3px solid green;
    content: '';
    left: 1.75em;
    top: 3.5em;
    position: absolute;
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 1.75em;
        opacity: 1;
    }
    40% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }
    100% {
        height: 3.5em;
        width: 1.75em;
        opacity: 1;
    }
}
