{% load static %}
<!DOCTYPE html>
<meta charset="utf-8" />
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
	<title>UGAHacks 4</title>
	<link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
	<link rel="apple-touch-icon" sizes="180x180" href="{% static "img/icons/apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static "img/icons/favicon-32x32.png" %}>
	<link rel="icon" type="image/png" sizes="16x16" href="{% static "img/icons/favicon-16x16.png" %}">
	<link rel="manifest" href="{% static "img/icons/site.webmanifest" %}">
	<link rel="mask-icon" href="{% static "img/icons/safari-pinned-tab.svg" %}" color="#eb3f3f">
	<link rel="shortcut icon" href="{% static "img/icons/favicon.ico" %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="theme-color" content="#000000">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="{% static "img/icons/browserconfig.xml" %}">
	<meta name="theme-color" content="#ffffff">
	<meta property="og:image" content="{% static "img/UGAH4-BG7.jpg" %}" />
</head>

<body>
	<a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000"
	 href="https://mlh.io/seasons/na-2019/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2019-season&utm_content=white"
	 target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2019/mlh-trust-badge-2019-white.svg" alt="Major League Hacking 2019 Hackathon Season"
		 style="width:100%"></a>
	<div id="navbar">
		<div>
			<a href="#about">about</a>
			<a href="#challenges">challenges</a>
			<a href="#schedule">schedule</a>
			<a href="#registration">registration</a>
			<a href="#faq">FAQ</a>
			<a href="#sponsors">sponsors</a>
		</div>
	</div>
	<div id="main">
		<div>
			<div>
				<img src="{% static "img/logo.svg" %}" />
				<br />
				<h1 id="date">Feb 8 - 10, 2019</h1>
				<a class="btn" href="https://ugahacks4.devpost.com/submissions" target="_blank">SUBMISSION</a>
			</div>
		</div>
	</div>
	<div id="about">
		<div class="box">
			<div class="boxhead">
				<h1>about</h1>
			</div>
			<div class="boxcontent">
				<div class="boxtext">
					<p>
						At UGAHacks, we help your ideas sprout to life.
						Log on and get hacking with us in this epic 36 hour programming sleepover, hosted in UGA's expansive Lamar Dodd
						School of Art building.
					</p>
					<br />
					<p>
						Hackathons are all about exploring your ideas and bringing them to fruition. We've got mentors, workshops and
						mixers to help you get what you need and branch out, and fun events like karaoke and video game tournaments when
						you're bushed and ready to unwind. We'll keep you well fed and watered all weekend. It's time to go out on a limb
						and find your roots!
					</p>
					<br />
					<p>
						Don't worry if you aren't a CS major, or don't feel comfortable coding!
						We have many workshops for you to attend, mentors to spruce up your project, and supportive teammates waiting for
						your arrival!
						Hackathons are about fertilizing your knowledge and we're here for your growth!
					</p>
				</div>
				<div class="decor">
					<img src="{% static "img/H4about.png" %}" />
				</div>
			</div>
		</div>
	</div>
	<div id="challenges">
		<div class="box">
			<div class="boxhead">
				<h1>challenges</h1>
			</div>
			<div class="boxcontent">
				<div class="decor">
					<img src="{% static "img/H4challenge.png" %}" />
				</div>
				<div class="boxtext">
					<p>
						Stumped and don't know what to code? Don't worry - challenges have your back.
					</p>
					<br />
					<p>
						Challenges are projects geared around using a specific theme or tool.
						The best project built around each challenge will receive a prize.
					</p>
					<br />
					<p>
						Come find out what challenges we'll announce that we and our sponsors have in store for you!
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="schedule">
		<div class="box">
			<div class="boxhead">
				<h1>schedule</h1>
			</div>
			<div class="boxcontent">
				<div class="boxtext">
					<div id="timeline">
						<hr class="timeline-line">
						<div class="timeline-box">
							<h4>NOV</h4>
							<h5>30</h5>
							<h6>Registration Open</h6>
						</div>
						<hr class="timeline-line">
						<div class="timeline-box">
							<h4>JAN</h4>
							<h5>31</h5>
							<h6>Registration Close</h6>
						</div>
						<hr class="timeline-line">
						<div class="timeline-box">
							<h4>FEB</h4>
							<h5>08</h5>
							<h6>Hackathon Start</h6>
						</div>
						<hr class="timeline-line">
					</div>
				</div>
				<div class="decor">
					<img src="{% static "img/H4schedule.png" %}"/>
				</div>
			</div>
		</div>
		<div id=timetable>
			<h2>HACKS SCHEDULE</h2>
			<div class='table-wrapper'>
				<table id='friday'>
					<tr>
						<th colspan="2">Friday</th>
					</tr>
					<!--font weight bold-->
					<tr>
						<td class=time>4:00PM </td>
						<td>E11 and E07 parking decks open</td>
						<!--Fri-->
					</tr>
					<tr>
						<td class=time>5:00PM </td>
						<td>Check-in opens</td>
					</tr>
					<tr>
						<td class=time>6:30PM </td>
						<td>Opening Ceremony</td>
					</tr>
					<tr>
						<td class=time>7:15PM </td>
						<td>Dinner & check-in closes</td>
					</tr>
					<tr>
						<td class=time>8:15PM </td>
						<td>First-time Hackers / Team-building (N100)</td>
					</tr>
					<tr>
						<td class=time>9:00PM </td>
						<td>Collaborative Coding Workshop (N100)</td>
					</tr>
					<tr>
						<td class=time>9:00PM </td>
						<td>UL IMS – Panel of Payments Technology Experts (N104)</td>
					</tr>
					<tr>
						<td class=time>10:00PM </td>
						<td>Fiserv- Digital payments SDK API Workshop (N100)</td>
					</tr>
					<tr>
						<td class=time>12:00AM </td>
						<td>Sleeping room opens</td>
					</tr>
				</table>
				<!--friday table-->
				<table id='saturday'>
					<tr>
						<th colspan="2">Saturday</th>
					</tr>
					<tr>
						<td class=time>9:00AM </td>
						<td>Breakfast</td>
					</tr>
					<tr>
						<td class=time>10:00AM </td>
						<td>PwC - Cybersecurity Tabletop Game (N100)</td>
					</tr>
					<tr>
						<td class=time>12:00PM </td>
						<td>Web Apps Workshop (S150)</td>
					</tr>
					<tr>
						<td class=time>2:00PM </td>
						<td>Lunch</td>
					</tr>
					<tr>
						<td class=time>3:00PM </td>
						<td>HPCC - Data Analytics Workshop (N100)</td>
					</tr>
					<tr>
						<td class=time>3:00PM </td>
						<td>Tyler Yox - Voice Assistants Workshop (N104)</td>
					</tr>
					<tr>
						<td class=time>4:30PM </td>
						<td>Small Satellite - Workshop (N104)</td>
					</tr>
					<tr>
						<td class=time>5:30PM </td>
						<td>Daniel Bohannon - Obfuscation, evasion, and detection (N100)</td>
					</tr>
					<tr>
						<td class=time>5:30PM </td>
						<td>MLH - Cup Stacking (N104)</td>
					</tr>
					<tr>
						<td class=time>6:45PM </td>
						<td>Resume tips and interview prep (N104)</td>
					</tr>
					<tr>
						<td class=time>8:00PM </td>
						<td>Dinner</td>
					</tr>
					<tr>
						<td class=time>9:15PM </td>
						<td>Paul Hansa - Git Workshop (N100)</td>
					</tr>
					<tr>
						<td class=time>9:15PM </td>
						<td>Hardware Workshop (N104)</td>
					</tr>
					<tr>
						<td class=time>10:30PM </td>
						<td>Karaoke (Auditorium 150)</td>
					</tr>
					<tr>
						<td class=time>10:30PM </td>
						<td>Smash Ultimate Tournament (Room N104)</td>
					</tr>
					<tr>
						<td class=time>12:00AM </td>
						<td>Sleeping room opens</td>
					</tr>
				</table>
				<table id="sunday">
					<tr>
						<th colspan="2">Sunday</th>
					</tr>
					<tr>
						<td class=time>9:00AM </td>
						<td>Breakfast</td>
						<!--Sun-->
					</tr>
					<tr>
						<td class=time>9:30AM </td>
						<td>Submissions Due</td>
					</tr>
					<tr>
						<td class=time>10:00AM </td>
						<td>Expo (Auditorium Hallway)</td>
					</tr>
					<tr>
						<td class=time>11:45AM </td>
						<td>Judging</td>
					</tr>
					<tr>
						<td class=time>1:00PM </td>
						<td>Closing ceremony</td>
					</tr>
					<tr>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<!--end of timetable div-->

	</div> <!-- end of the timeline div -->
	<div id="registration">
		<div class="box">
			<div class="boxhead">
				<h1>registration</h1>
			</div>
			<div class="boxcontent">
				<div class="decor">
					<img src="{% static "img/H4registration.png" %}" />
				</div>
				<div class="boxtext">
					<p><a href="https://ugeorgia.ca1.qualtrics.com/jfe/form/SV_0USwj0iN2isrIXz" target="_blank">Join UGA for its 4th
							annual hackathon!</a></p>
					<br />
					<p>This year is about fostering and growing the new generation of coders -- Sowing the Seed for the Next
						Generation of Coders.</p>
					<br />
					<p>UGAHacks will be following the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a>.
						By participating
						in UGAHacks, you are agreeing to follow the Code of Conduct throughout the duration of the event.</p>
					<br />
					<p>Hope to see you in February!</p>
				</div>
			</div>
		</div>
	</div>
	<div id="faq">
		<div class="box">
			<div class="boxhead">
				<h1>FAQ</h1>
			</div>
			<div class="boxcontent">
				<div class="boxtext">
					<h3>Where? </h3>
					<p>
						The <a href="https://goo.gl/maps/ufiFo4PmKb82">Lamar Dodd School of Art</a>, University of Georgia, Athens, GA.
						We're very excited about the very large venue upgrade this year, and we'll have plenty of room for sleeping bags,
						so feel free to stay all weekend!
					</p>
					<h3>Who can sign up? </h3>
					<p>
						All university students! We welcome all undergraduates and graduate students of all skill levels to attend.
						Professionals
						and other guests are
						welcome to attend as mentors or volunteers.
					</p>
					<h3>How much will it cost to sign up? </h3>
					<p>
						Nothing! The entire event and its amazing perks are free for all participants, including meals and snacks to keep
						you powered throughout the weekend, as well as workshops to help you get started and sharpen your hacking skills.
					</p>
					<h3>What should I bring? </h3>
					<p>
						Enthusiasm! Laptops, phones, chargers, and other tools you might need for your project are also important! If
						you're staying overnight, be sure to bring the necessary toiletries and a sleeping bag. Additionally, please
						bring your official student ID or government ID (no photocopies allowed).
					</p>
					<br />
					<a class="collapsible btn">More</a>
					<div class="content">
						<h3>Can I start working on my project before the event? </h3>
						<p>
							No. All UGAHacks projects must begin at the hackathon. You are not permitted to begin a hackathon project before
							this event. Feel free to bring ideas, but no code!
						</p>
						<h3>What if I don't have a team or idea? </h3>
						<p>
							Don't sweat it! You're free to join any existing team or form a new one when you get there. We'll also provide
							ample opportunities for hackers to meet each other and brainstorm some amazing ideas.
						</p>
						<h3>How many people can I have on my team? </h3>
						<p>
							There is no hard limit, but we recommend teams be at most 4 people, as we only have prizes for 4 people per
							team.
						</p>
						<h3>Will you be offering travel reimbursements? </h3>
						<p>
							Yes, we will be offering travel reimbursements! Please make sure to note it on your registration and we will
							reach out to you upon acceptance. University of Georgia students are not eligible to receive travel
							reimbursements.
						</p>
						<h3>Where will I sleep? </h3>
						<p>
							We'll have designated sleeping areas for hackers, but they will be on a first-come-first-serve basis. You're
							welcome and even encouraged to bring a sleeping bag!
						</p>
						<h3>Can I volunteer / mentor at UGAHacks? </h3>
						<p>
							We love your enthusiasm! Volunteers and mentors can apply via the registration form above! If you have any
							questions regarding the position, please contact us at
							<a href="mailto:hackathon@uga.edu">hackathon@uga.edu</a>
							- Be sure to mention it in the subject. See you soon!
						</p>
						<h3>I have more questions? </h3>
						<p>
							That's not actually a question, but if you've got one then we'll be happy to answer it! Reach out to us at
							<a href="mailto:hello@ugahacks.com">hello@ugahacks.com</a>.
						</p>
					</div>
				</div>
				<div class="decor">
					<img src="{% static "img/H4faq.png" %}"/>
				</div>
			</div>
		</div>
	</div>
	<div id="sponsors">
		<div class="box">
			<div class="boxhead">
				<h1>sponsors</h1>
			</div>
			<div class="sponsorlogos">
				<a href="https://www.pwc.com/" target="_blank"> <img src="{% static "img/pwcready.png" %}" /></a>
				<a href="https://www.fiserv.com/index.aspx" target="_blank"><img src="{% static "img/fiserv.png" %}" /></a>
				<a href="https://ims.ul.com/" target="_blank"><img src="{% static "img/UL-red.png" %}" /></a>
			</div>
			<div class="sponsorlogos">
				<a href="https://hpccsystems.com/" target="_blank"><img src="{% static "img/HPCC Systems Logo black.png" %}" /></a>
				<a href="http://www.mckenneys.com" target="_blank"><img src="{% static "img/mck.png" %}" /></a>
				<a href="http://cs.uga.edu" target="_blank"><img src="{% static "img/csdept.png" %}" class="uga-logo"/></a>
				<a href="http://www.ugaentr.com" target="_blank"><img src="{% static "img/entr-program.png" %}" class="uga-logo"/></a>
			</div>
			<div class="sponsorlogos">
				<a href="https://www.kindsnacks.com/" target="_blank"><img src="{% static "img/kind.png" %}" /></a>
				<a href="https://www.statefarm.com" target="_blank"><img src="{% static "img/statefarm.png" %}"/></a>
				<a href="https://www.ugaacm.com/" target="_blank"><img src="{% static "img/acm.png" %}"/></a>
				<a href="https://www.corsair.com/us/en/" target="_blank"><img src="{% static "img/Corsair_logo_SW_800px.png" %}"/></a>
			</div>

		</div>
		<div class="box" style="margin: 20px 0">
			<div class="boxhead">
				<h2>partners</h2>
			</div>
			<div class="boxcontent">
				<div class="partnerlogos">
					<a href="http://hackp.ac/mlh-stickermule-hackathons" target="_blank"><img src="{% static "img/sticker-mule-logo-light-bg.png" %}"/></a>
					<a href="https://www.fourathens.com/" target="_blank"><img src="{% static "img/fourathens.png" %}"/></a>
				</div>
			</div>
		</div>
		<div class="boxcontent">
			<div class="boxtext">
				<h2>Interesting in sponsoring us?</h2>
				<p>
					By sponsoring UGAHacks, your company will have the opportunity to inspire new programmers while also reaching out
					to and recruiting the rising stars of the tech industry. Please reach out to our sponsorship team for more
					information.
				</p>
				<br />
				<a href="{% static "docs/UGHacks-4-Sponsorship.pdf" %}">
					<h2>Sponsor Packet PDF</h2>
				</a>
				<a href="mailto:sponsor@ugahacks.com">
					<h2>sponsor@ugahacks.com</h2>
				</a>
			</div>
		</div>
		<footer>
			<a href="https://github.com/ugahacks"><i class="fa fa-github"></i></a>
			<a href="https://twitter.com/ugahacks"><i class="fa fa-twitter"></i></a>
			<a href="https://www.facebook.com/ugahacks/"><i class="fa fa-facebook"></i></a>
		</footer>
	</div>


	<script src="{% static "js/smooth-scroll.min.js" %}"></script>
	<script>
		var scroll = new SmoothScroll('a[href*="#"]', {
			speed: 800,
			offset: 40
		});
		var more = document.getElementsByClassName("collapsible");
		for (let i = 0; i < more.length; i++) {
			more[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
					content.style.display = "none";
				} else {
					content.style.display = "block";
				}
			})
		}
	</script>
</body>

</html>

