{% extends 'base_email.html' %}
{% block preheader %}Confirmation of attendance for {{ h_name }}{% endblock %}

{% block content %}
  <p>Thank you {{ name }} for confirming your attendance to {{ h_name }}!</p>
  <p>We are really excited to host this event and have you with us.</p>

  {% if not h_is_online %}
    <p>
      In order to make registration go smoother, please show us this QR code during the process so we can easily find you:
    </p>
    {% include 'mails/include/email_image.html' with url=qr_url %}
  {% endif %}

  {% include 'mails/include/cancel.html' %}

  {% if h_pre_event %}
    {% include 'mails/include/event_packet.html' %}
  {% endif %}

  {% if h_slack %}
    {% include 'mails/include/slack.html' %}
  {% endif %}

  {% if not h_is_online %}
    {% include 'mails/include/arrival_departure_info.html' %}
  {% else %}
    {% include 'mails/include/rolling_admissions.html' %}
    {% include 'mails/include/online_hackathon_info.html' %}
  {% endif %}

  {% include 'mails/include/closing.html' %}

{% endblock %}
