{% extends "base_plain.html" %}

{% load static %}
{% load bootstrap3 %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/scanning.css' %}">
    <script src="{% static 'lib/instascan.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/camera.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scanner.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scanning.js' %}"></script>
{% endblock %}

{% block head_title %}Scan{% endblock %}

{% block panel %}
    <div id="scanning-container">
        <div class="input-qr form-group">
              <select class="form-control" data-mode="organizer" id="check-in-selector">
                <option value="" selected disabled>Select an event..</option>
                {% if request.user.is_organizer %}
                    <optgroup label="Check-in">
                      <option data-type="checkin" value="Check-in">Check-in</option>
                      <option data-type="reissue" value="Reissue-Badge">Reissue Badge</option>
                    </optgroup>
                    <optgroup label="Meals">
                      {% for meal in meals %}
                          {% for type in types %}
                            {% if type.0 == meal.kind %}
                              <option data-type="meal" value="{{ meal.id }}">{{ meal.name }} - {{ type.1 }}</option>
                            {% endif %}
                          {% endfor %}
                      {% empty %}
                          <option value="" disabled>No meals</option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="Workshops">
                      {% for workshop in workshops %}
                          <option data-type="workshop" value="{{ workshop.id }}">{{ workshop.name }}</option>
                      {% empty %}
                          <option value="" disabled>No workshops</option>
                      {% endfor %}
                    </optgroup>
                {% elif request.user.is_sponsor %}
                    <optgroup label="Sponsor">
                      <option value="p">Give Points</option>
                    </optgroup>
                {% endif %}
              </select>
              <span class="help-block">Please select an event before opening the scanner.</span>
          </div>
          <i id="qr_code-qr" class="button-qr fa fa-camera fa-2x"></i>
    </div>
{% endblock %}
