@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body, html {
    font-family: "Poppins";
    font-weight: 400;
    background-color: #21232c;
    /* background: linear-gradient(#17182f,#0d0f12); */
}



a {
  outline: 0;
}

#posts {
  max-width: 1500px;
  margin: 25px auto;
}
#pub_date, .card-text {
  color: #989993;
}

.card-body{
    box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
}

.editbtn {
  background: none;
  padding: 10px 10px;
  border-radius: 0%;
  font-size: 1em;
  margin-left: 10px;
  border: 1px solid #eb4f49;
  font-family: "Poppins";
  transition: ease 0.6s;
  text-decoration: none !important;
  color: black;
}

.editbtn i {
  vertical-align: bottom;
}

.editbtn:hover {
  color: white;
  background: #eb4f49;
}


.readbtn {
  background: none;
  font-size: 1em;
  border: 2px solid #3474a9;
  font-family: "Poppins";
  transition: ease 0.6s;
  text-decoration: none !important;
  color: black;
}

.readbtn i {
  vertical-align: bottom;
}

.readbtn:hover {
  color: white;
  background: #3474a9;
}

.creatediv {
  text-align: center;
  margin-bottom: 25px;
}

.addbtn {
  background: none;
  padding: 10px 20px;
  margin-bottom: 10px !important;
  font-size: 1em;
  border: 2px solid #88bfac;
  font-family: "Poppins";
  transition: ease 0.6s;
  text-decoration: none !important;
  color: black;
}

.addbtn:hover {
  color: white;
  background: #88bfac;
}

.step-links {
  display: table;
  margin: 15px auto 35px;
}

.jumpbtn {
  background: none;
  padding: 10px 10px;
  border-radius: 50%;
  margin-left: 10px;
  border: 2px solid #eb4f49;
  font-family: "Poppins";
  transition: ease 0.6s;
  text-decoration: none !important;
  color: black;
}

.jumpbtn i {
  vertical-align: bottom;
}

.jumpbtn:hover {
  color: white;
  background: #eb4f49;
}

.currentpagebtn {
  background: #eb4f49;
  padding: 10px 10px;
  font-size: 1em;
  margin-left: 10px;
  border: 2px solid #eb4f49;
  font-family: "Poppins";
  transition: ease 0.6s;
  text-decoration: none !important;
  color: white;
}

.pagebtn:hover {
  color: white;
  background: #eb4f49;
}

.pagebtn {
  background: none;
  padding: 10px 10px;
  margin-left: 10px;
  border: 2px solid #eb4f49;
  font-family: "Poppins";
  transition: ease 0.6s;
  text-decoration: none !important;
  color: black;
}

#blogtags {
  margin-top: 25px;
}

.main-banner {
  /*place holder image. please change accordingly*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/wallpaper.jpeg");
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 1.7em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.banner-header {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.banner-text {
  font-size: 200px;
}

.page-container {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}

.blog-container {
  overflow-wrap: break-word;
  display: flex;
  width: 1200px;
  height: 250px;
  margin-top: 70px;
  margin-bottom: 70px;

}

.blog-thumbnail {
  justify-content: left;
  min-width: 400px;
  min-height: 250px;
  max-width: 400px;
  max-height: 250px;
}

.blog-details {
  margin-left: 60px;
  width: 800px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-details h1 {
  color: #383e3a;
}

.blog-details p {
  margin: 0;
  color: #768079;
}

.blog-link {
  color: black;
  text-decoration: none;
}

.blog-title {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}

.blog-description {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.blog-date {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.tag-container {
  display: flex;
  flex-direction: row;
}

.tag {
  background: #fff;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  margin-top: 18px;
  margin-bottom: 25px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #21232c;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #21232c;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #fff;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #eb4f49;
  color: white !important;
}

.tag:hover::after {
   border-left-color: #eb4f49;
}

.search-bar {
  width: 20%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search-bar::placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.search-bar:hover,
.search-bar:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.divider {
  height: 1px;
  width: 60%;
  background-color: #a6a6a6;
}


/**Copied from Neal's frontend**/


/* Create a Parallax Effect */
.bgimg-1, .bgimg-2 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/wallpaper.jpeg");
  /**background-color: #21232c;**/
  min-height: 100%;
}

.bgimg-2 {
  background-color: #BA0C2F;
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
