@media only screen and (max-width: 1200px) {
  .post-container{
    width: 90%;
  }

  .post-title{
    text-align: center;
  }

  .author-container {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
  }
}
