@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');
.blog-admin-thumbnail{
  width: 45%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 480px) {
  .blog-admin-thumbnail{
    width: 100%;
  }
}

.blog-admin-info a, .post-content p, h2, h4{
  width: 80%;
  margin: 15px auto;
  display: block;
  text-align: center;
  font-family: "Poppins";
}

.post-content {
  color: #aaa;
  overflow-wrap: break-word;
  padding-top: 30px;
  margin: auto;
  font-size: 18px;
  margin-bottom: 50px;
  width: 100%;
}

.submit-approval {
  text-align: center;
}

.bottom-push {
  height: 25px;
}
