.button-qr {
    vertical-align: middle;
    padding: 5px 7px 3px;
    border: thin solid #ddd;
    cursor: pointer;
    float: left;
    font-size: 24px;
    border-radius: 4px;
}

.button-qr-success {
    color: #3c763d;
    border-color: #3c763d;
}

.input-qr {
    display: block;
    overflow: hidden;
    padding-left: 10px;
}

.checkin-popup-scan {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 600px;
    padding: 15px;
    border: 3px solid #333;
    z-index: 1032;
    background-color: white;
}

.checkin-popup-scan select {
    margin-bottom: 15px;
}

.checkin-popup-scan video {
    width: 100%;
    margin: 0 auto;
}

.checkin-popup-scan .container-fluid {
    padding: 0;
}

.checkin-popup-scan .header {
    background: #f4f4f4;
    border: 1px solid #aeaeae;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 18px;
    margin-bottom: 4px;
}

.checkin-popup-scan .error {
    color: #a60000;
}

.checkin-popup-scan .ready {
    color: green;
}

.video-container {
    position: relative;
}

.video-container .status {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 25px;
    padding: 100px 10px 0 10px;
    font-size: 24px;
    display:none;
    font-weight: bold;
}

.veil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1031;
    background-color: rgba(30,30,30,0.9);
    cursor: pointer;
}
