{% extends "base_tabs.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Add workshop{% endblock %}
{% block cols-panel %}col-md-6 col-md-offset-3{% endblock %}
{% block out_panel %}
  {% if not is_available %}
    <h1 class="text-center" style="padding: 10px;">There are no timeslots available at the moment.</h1>
  {% else %}
    <h1 class="text-center">Add Workshop</h1>
    <form id="workshop-form" action="/workshops/add/" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-success" type="submit" value="Add Workshop">
    </form>

    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
  {% endif %}
  <script>
    $(document).ready(function () {
              var exp_time = $('input[name="workshop_starts"]');
              exp_time.daterangepicker({
                timePicker: true,
                singleDatePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 5,
                startDate: moment(exp_time.val()),
                locale: {
                  firstDay: 1,
                  format: 'YYYY-MM-DD H:mm:ss'
                }
              });
              var exp_time2 = $('input[name="workshop_ends"]');
              exp_time2.daterangepicker({
                timePicker: true,
                singleDatePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 5,
                startDate: moment(exp_time2.val()),
                locale: {
                  firstDay: 1,
                  format: 'YYYY-MM-DD H:mm:ss'
                }
              });
            }
    );
  </script>
{% endblock %}
