{% extends "base_table.html" %}
{% load django_tables2 %}
{% block head_title %}All applications{% endblock %}

{% block table_footer %}
    {% if user.is_director %}
        <div class="panel-footer">
            <a href="{% querystring '_export'='csv' %}" class="btn-block btn btn-info">Export
                CSV</a>
            <a href="{%  url 'export_newsletter' %}" class="btn-block btn btn-info">Export Newsletter Subscriber List </a>
            <a href="{% url 'export_resume' %}" class="btn-block btn btn-info">Export Resumes</a>
            <a href="{%  url 'export_in_person_apps' %}" class="btn-block btn btn-info">Export In-person applications List </a>
            <a href="{%  url 'export_verified_addresses' %}" class="btn-block btn btn-info">Export Verified Addresses List </a>
        </div>
    {% endif %}
{% endblock %}
