{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block head %}
    {% block extra_head %}{% endblock %}
{% endblock %}
{% block body %}
    <div class="row margin-top">
        <div class="{% block cols-panel %}col-md-12{% endblock %}">
            <div>
                <div class="panel panel-default">

                    <div class="panel-body">
                        {% if back %}
                            <p><a href="{{ back }}" class="btn btn-default"> < Back </a>
                            </p>
                        {% endif %}

                        {% block panel %}

                        {% endblock %}
                    </div>
                    {% block out_panel %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
