{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
  <title>UGAHacks 5</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/favicon/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "images/favicon/site.webmanifest" %}">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="{% static "css/mainstyle.css" %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-custom">
    <a class="navbar-brand" href="#"><img src="{% static "images/navbarlogo.png" %}" alt="UGAHacks 5"
        id="navbarlogo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-nav" id="navbarNavAltMarkup">
      <a class="nav-item nav-link" href="#HOF" hidden>Hall of Fame</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownhead" data-toggle="dropdown">
          Event Info
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownhead">
          <a class="dropdown-item" href="#About">About</a>
          <a class="dropdown-item" href="#Map">Map</a>
          <a class="dropdown-item" href="#FAQ">FAQ</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="#Schedule">Schedule</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownhead" data-toggle="dropdown">
          UGAHacks Team
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownhead">
          <a class="dropdown-item" href="#Organizers">Organizers</a>
          <a class="dropdown-item" href="#Pasthack">Past Events</a>
          <a class="dropdown-item" href="mailto:hello@ugahacks.com" class="textlink">Contact Us</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="#Sponsors">Sponsors</a>
      <a class="nav-item nav-link" href="#Registration">Registration</a>
      <a class="nav-item nav-link" href="user/login">Login</a>
    </div>
  </nav>
  <div id="particles-js"></div>
  <div id="mainheader">
    <img src="{% static "images/hackslogo.png" %}" alt="" id="mainbannerlogo">
    <div class="sectionhead">
      <h3><b>February 7 - 9, 2020 at Zell B. Miller Learning Center</b></h3>
      <br>
      <br>
    </div>
  </div>
  <div id="Registration">
    <div class="section" data-aos="fade-up">
      <div class="sectionhead">
        <br>
        <h1 id="regcountdown">Registration Opens In . . .</h1>
      </div>
      <div class="sectiontext">
        <div class="keydatestext" data-aos="fade-up">
          <div class="timecol">
            <h1 id="countdownd"></h1>
            <h2> Days </h2>
          </div>
          <div class="timecol">
            <h1 id="countdownh"></h1>
            <h2> Hours </h2>
          </div>
          <div class="timecol">
            <h1 id="countdownm"></h1>
            <h2> Minutes </h2>
          </div>
          <div class="timecol">
            <h1 id="countdowns"></h1>
            <h2> Seconds </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="HOF" hidden>
    <div class="section" data-aos="fade-up">
      <div class="sectionhead">
        <br>
        <h1>Hall of Fame</h1>
      </div>
      <div class="sectiontext">
        <h3 id="congrats">Congratulations to all of our winners!</h3>
      </div>
      <div class="container-fluid" data-aos="fade-right">
        <div class="card-deck">
          <div class="col-12 col-sm-6 col-md-4">
            <h4 class="awardtitle">Best Overall</h4>
            <div class="card bg-transparent border-0">
              <img class="card-img-top" src="{% static "images/hackslogo.png" %}" alt="">
              <div class="card-body">
                <h5 class="card-title"><b>Sample Project - Sample Team Members</b></h5>
                <p class="card-text">Brief Description about the project</p>
                <a href="/" class="btn btn-outline-warning">Check out their project on DevPost!</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <h4 class="awardtitle">Best Idea</h4>
            <div class="card bg-transparent border-0">
              <img class="card-img-top" src="{% static "images/hackslogo.png" %}" alt="">
              <div class="card-body">
                <h5 class="card-title"><b>Sample Project - Sample Team Members</b></h5>
                <p class="card-text">Brief Description about the project</p>
                <a href="/" class="btn btn-outline-warning">Check out their project on DevPost!</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <h4 class="awardtitle">Best Design</h4>
            <div class="card bg-transparent border-0">
              <img class="card-img-top" src="{% static "images/hackslogo.png" %}" alt="">
              <div class="card-body">
                <h5 class="card-title"><b>Sample Project - Sample Team Members</b></h5>
                <p class="card-text">Brief Description about the project</p>
                <a href="/" class="btn btn-outline-warning">Check out their project on DevPost!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="About">
    <div class="section" data-aos="fade-up">
      <div class="sectionhead">
        <br>
        <h1>About</h1>
      </div>
      <div class="sectiontext">
        <p>This year at UGAHacks, we are all about helping your ideas blast off. Hackathons are all about exploring the
          galaxies filled with ideas and claiming one for yourself. You might even explore multiple planets before
          settling on one ,or use one as a base station to reach other ones. Log on and join us for this epic 36 hour
          programming sleepover, hosted at UGA's <a href="https://goo.gl/maps/rMa5f99XiaW39a8e6" class="textlink">Zell
            B. Miller Learning Center.</a></p>
        <p>Houston -- we got a problem! Fret not, we have mentors, workshops, and volunteers to help you get those
          critical resources so you can venture forth. Two resources you'll not need to worry about is food and water as
          plenty of shipments from Earth will be sent out throughout the event. We also got fun events such as karaoke
          and video game tournaments when you just want to unwind and float around in space. Just remember not to get
          sucked up into the black hole of procrastination!</p>
        <p> We can't wait to see your otherworldly ideas!</p>
      </div>
    </div>
  </div>
  <div id="Schedule">
    <div class="section" data-aos="fade-up">
      <div class="sectionhead">
        <br>
        <h1>Schedule</h1>
      </div>
      <h2 id="keydates">Key Dates</h2>
      <div class="keydatestext">
        <div class="datecol" data-aos="fade-up-right">
          <h3>Registration Opens:</h3>
          <h2><b>November 30</b></h2>
        </div>
        <div class="datecol" data-aos="fade-up">
          <h3>Registration Closes:</h3>
          <h2><b>Sample Date</b></h2>
        </div>
        <div class="datecol" data-aos="fade-up-left">
          <h3>Decision Response:</h3>
          <h2><b>Sample Date</b></h2>
        </div>
      </div>
      <div class="scheduletext">
        <div class="schedulecol" data-aos="fade-up-right">
          <h3>Friday - Feb. 7th</h3>
          <div class="sectiontext">
            <p><b>5:00 pm</b> Check-in Opens (MLC 4th Floor)</p>
            <p><b>6:00 pm</b> Tate Free Parking Decks Open</p>
            <p><b>6:30 pm</b> Opening Ceremony (Room 101)</p>
            <p><b>7:15 pm</b> Dinner/ Check-In Closes</p>
            <p><b>8:15 pm</b> Example Workshop by ___ (Location)</p>
            <p><b>11:00 pm</b> Tate Deck Opens Up</p>
          </div>
        </div>
        <div class="schedulecol" data-aos="fade-up">
          <h3>Saturday - Feb. 8th</h3>
          <div class="sectiontext">
            <p><b>9:00 am</b> Breakfast</p>
            <p><b>10:00 am</b> Example Workshop by ___ (Location)</p>
            <p><b>2:00 pm</b> Lunch</p>
            <p><b>8:00 pm</b> Dinner</p>
            <p><b>10:30 pm</b> Smash Tourney/Karoke (Location)</p>
          </div>
        </div>
        <div class="schedulecol" data-aos="fade-up-left">
          <h3>Sunday - Feb. 9th</h3>
          <div class="sectiontext">
            <p><b>9:00 am</b> Submissions Due on DevPost</p>
            <p><b>9:15 am</b> Breakfast</p>
            <p><b>10:00 am</b> Expo (Auditorium Hallway)</p>
            <p><b>11:45 am</b> Judging</p>
            <p><b>1:00 pm</b> Closing Ceremony (Room 102)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="FAQ">
    <div class="section" data-aos="fade-up">
      <div class="sectionhead">
        <br>
        <h1>FAQ</h1>
      </div>
      <div class="questionrow">
        <div class="questioncol" data-aos="fade-up-right">
          <h4>Where will it be held at this year?</h4>
          <p>At the <a href="https://goo.gl/maps/rMa5f99XiaW39a8e6" class="textlink">Zell B. Miller Learning Center</a>,
            University of Georgia, Athens, GA.</p>
          <h4>How much will it cost to sign up?</h4>
          <p>Nothing! The entire event and its amazing perks are free for all participants, including meals and snacks
            to keep you powered throughout the weekend, as well as workshops to help you get started and sharpen your
            hacking skills.</p>
          <h4>Can I start working on my project before the event?</h4>
          <p>No. All UGAHacks projects must begin at the hackathon. You are not permitted to begin a hackathon project
            before this event. Feel free to bring ideas, but no code!</p>
          <h4>How many people can I have on my team?</h4>
          <p>There is no hard limit, but we recommend teams be at most 4 people, as we only have prizes for 4 people per
            team.</p>
          <h4>Where will I sleep?</h4>
          <p>We'll have designated sleeping areas for hackers, but they will be on a first-come-first-serve basis.
            You're welcome and even encouraged to bring a sleeping bag!</p>
          <h4>Who do I reach out to if I have more questions?</h4>
          <p>Reach out to <a href="mailto:hello@ugahacks.com" class="textlink">hello@ugahacks.com</a> and we'll be happy
            to answer it!</p>
        </div>
        <div class="questioncol" data-aos="fade-up-left">
          <h4>Who can sign up?</h4>
          <p>All university students! We welcome all undergraduates and graduate students of all skill levels to attend.
            Professionals and other guests are welcome to attend as mentors or volunteers.</p>
          <h4>What should I bring?</h4>
          <p>Enthusiasm! Laptops, phones, chargers, and other tools you might need for your project are also important!
            If you're staying overnight, be sure to bring the necessary toiletries and a sleeping bag. Additionally,
            please bring your official student ID or government ID (no photocopies allowed).</p>
          <h4>What if I don't have a team or idea?</h4>
          <p>Don't sweat it! You're free to join any existing team or form a new one when you get there. We'll also
            provide ample opportunities for hackers to meet each other and brainstorm some amazing ideas.</p>
          <h4>Will you be offering travel reimbursements?</h4>
          <p>Yes, we will be offering travel reimbursements! Please make sure to note it on your registration and we
            will reach out to you upon acceptance. University of Georgia students are not eligible to receive travel
            reimbursements.</p>
          <h4>Can I volunteer/mentor at UGAHacks?</h4>
          <p>We love your enthusiasm! Volunteers and mentors can apply via the registration form above! If you have any
            questions regarding the position, please contact us at <a href="mailto:hello@ugahacks.com"
              class="textlink">hello@ugahacks.com</a> - Be sure to mention the specific position in the subject of the
            email. See you at the event!</p>
        </div>
      </div>
    </div>
  </div>
  <div id="Map">
    <div class="section" data-aos="fade-up">
      <div class="sectionhead">
        <br>
        <h1>Map</h1>
      </div>
      <div class="sectiontext">
        <p>Insert blank SVG floor map of MLC along with markers maped to locations (once layout is determined)</p>
      </div>
    </div>
  </div>
  <div id="Organizers">
    <div class="sectionhead">
      <br>
      <h1>Organizers</h1>
    </div>
    <div class="container">
      <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
          <!-- <a class="nav-item nav-link active" id="nav-team-tab" data-toggle="tab" href="#nav-team" role="tab"
                aria-controls="nav-team" aria-selected="true">The Team</a> -->
          <a class="nav-item nav-link active" id="nav-direct-tab" data-toggle="tab" href="#nav-direct" role="tab"
            aria-controls="nav-direct" aria-selected="true">Directors</a>
          <a class="nav-item nav-link" id="nav-advis-tab" data-toggle="tab" href="#nav-advis" role="tab"
            aria-controls="nav-advis" aria-selected="true">Advisors</a>
          <a class="nav-item nav-link" id="nav-market-tab" data-toggle="tab" href="#nav-market" role="tab"
            aria-controls="nav-market" aria-selected="true">Marketing</a>
          <a class="nav-item nav-link" id="nav-sponsor-tab" data-toggle="tab" href="#nav-sponsor" role="tab"
            aria-controls="nav-market" aria-selected="true">Sponsorship</a>
          <a class="nav-item nav-link" id="nav-logs-tab" data-toggle="tab" href="#nav-logs" role="tab"
            aria-controls="nav-logs" aria-selected="true">Logistics</a>
          <a class="nav-item nav-link" id="nav-web-tab" data-toggle="tab" href="#nav-web" role="tab"
            aria-controls="nav-web" aria-selected="true">Web Developers</a>
        </div>
      </nav>
      <div class="tab-content justify-content-center" id="nav-tabContent">
        <!-- <div class="tab-pane fade show active" id="nav-team" role="tabpanel" aria-labelledby="nav-team-tab">
              <div class="tabhead">
                <p>This year we have managed to get people on board to make this Hackathon an amazing master piece. We
                  have different departments that have been doing there best to make this Hack amazing and happen. Here
                  are the different sections
                  below.
                </p>
              </div>
            </div> -->
        <div class="tab-pane fade show active org-pad" id="nav-direct" role="tabpanel" aria-labelledby="nav-direct-tab">
          <br>
          <div class="row">
            <div class="col" style="margin-top: 15%;">
                <a href="https://www.linkedin.com/in/shivaninanda/">
                  <img src="../static/images/profilepic/Shivani_Nanda.jpg" alt="profile-pic" class="profimg">
                  <p>Shivani Nanda<br><i>Sponsorship Director</i></p>
                </a>
                <a href="https://www.linkedin.com/in/annie-lian/">
                  <img src="../static/images/profilepic/AnnieLian.jpg" alt="profile-pic" class="profimg">
                  <p>Annie Lian<br><i>Marketing Director</i></p>
                </a>
            </div>
            <div class="col" style="margin: 0 6% 0 6%;">
              <a href="https://www.linkedin.com/in/amanda-yang-2020/">
                <img src="../static/images/profilepic/amandayang.jpg" alt="profile-pic" class="profimg">
                <p>Amanda Yang<br><i>Sponsorship Director</i></p>
              </a>
              <a href="https://www.linkedin.com/in/mohdhasan10/">
                <img src="../static/images/profilepic/mohdtanjimhasan.jpg" alt="profile-pic" class="profimg">
                <p>Mohd Tanjim Hasan (TJ)<br><i>Lead Director</i></p>
              </a>
              <a href="https://www.linkedin.com/company/ugahacks/about/">
                <img src="../static/images/profilepic/Glen.JPG" alt="profile-pic" class="profimg">
                <p>Glen George<br><i>Logistics Director</i></p>
              </a>
            </div>
            <div class="col" style="margin-top: 15%;">
                <a href="https://www.linkedin.com/company/ugahacks/about/">
                  <img src="../static/images/profilepic/best-doggo.png" alt="profile-pic" class="profimg">
                  <p>Tobie Chang<br><i>Logistics Director</i></p>
                </a>
                <a href="https://www.linkedin.com/in/andrei-s/">
                  <img src="../static/images/profilepic/andreispatariu.jpg" alt="profile-pic" class="profimg">
                  <p>Andrei Spatariu<br><i>Web Director</i></p>
                </a>
            </div>
          </div>
        </div>
        <div class="tab-pane fade org-pad" id="nav-advis" role="tabpanel" aria-labelledby="nav-advis-tab">
          <br>
          <div class="row">
            <div class="col">
                <a href="https://www.linkedin.com/in/dannylee25/" class="dnle">
                  <img src="../static/images/profilepic/OGDanng.jpg" alt="profile-pic" class="profimg">
                  <p>Danny Lee</p>
                </a>
                <a href="https://www.linkedin.com/company/ugahacks/about/" class="advimg">
                  <img src="../static/images/profilepic/best-doggo.png" alt="profile-pic" class="profimg">
                  <p>Jennifer Ly</p>
                </a>
                <a href="https://www.linkedin.com/company/ugahacks/about/" class="advimg">
                  <img src="../static/images/profilepic/felise18.jpg" alt="profile-pic" class="profimg">
                  <p>Felise Wen</p>
                </a>
            </div>
            <div class="col" style="margin-top: 28.2%">
                <a href="https://www.linkedin.com/company/ugahacks/about/" class="advimg">
                  <img src="../static/images/profilepic/best-doggo.png" alt="profile-pic" class="profimg">
                  <p>Jin Jeong</p>
                </a>
                <a href="https://www.linkedin.com/company/ugahacks/about/" class="advimg">
                  <img src="../static/images/profilepic/best-doggo.png" alt="profile-pic" class="profimg">
                  <p>Paul Hansa</p>
                </a>
            </div>
          </div>
        </div>
        <div class="tab-pane fade org-pad" id="nav-market" role="tabpanel" aria-labelledby="nav-market-tab">
          <br>
          <div class="row tabposition">
            <div class="col">
                <a href="https://www.linkedin.com/in/annie-lian/">
                  <img src="../static/images/profilepic/AnnieLian.jpg" alt="profile-pic" class="profimg">
                  <p class="proftext">Annie Lian</p>
                </a>
            </div>
            <div class="col" style="margin-top: 30%;">
                <a href="https://www.linkedin.com/company/ugahacks/about/">
                  <img src="../static/images/profilepic/felise18.jpg" alt="profile-pic" class="profimg">
                  <p class="proftext">Felise Wen</p>
                </a>
            </div>
          </div>
        </div>
        <div class="tab-pane fade org-pad" id="nav-sponsor" role="tabpanel" aria-labelledby="nav-sponsor-tab">
          <br>
          <div class="row tabposition">
            <div class="col">
                <a href="https://www.linkedin.com/company/ugahacks/about/">
                  <img src="../static/images/profilepic/best-doggo.png" alt="profile-pic" class="profimg">
                  <p class="spswebtext">Hima Velaga</p>
                </a>
                <a href="https://www.linkedin.com/company/ugahacks/about/" style="padding-left: 55%;">
                  <img src="../static/images/profilepic/jefferyjohn.jpg" alt="profile-pic" class="profimg">
                  <p class="spswebtext" style="margin-left: 71%; width: 312px;">Jeffery John</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.linkedin.com/company/ugahacks/about/">
                  <img src="../static/images/profilepic/JunnunAli.png" alt="profile-pic" class="profimg">
                  <p class="spswebtext">Junnun Ali</p>
                </a>
            </div>
          </div>
        </div>
        <div class="tab-pane fade org-pad" id="nav-logs" role="tabpanel" aria-labelledby="nav-logs-tab">
          <br>
          <div class="row">
              <div class="col">
                  <a href="https://www.linkedin.com/company/ugahacks/about/" class="dnle">
                    <img src="../static/images/profilepic/best-doggo.png" alt="profile-pic" class="profimg">
                    <p>Junnun Ali</p>
                  </a>
                  <a href="https://www.linkedin.com/in/sydney-nelms-1a1874191/" class="advimg">
                    <img src="../static/images/profilepic/SydneyNelms.jpg" alt="profile-pic" class="profimg">
                      <p>Sydney Nelms</p>
                  </a>
                  <a href="https://www.linkedin.com/company/ugahacks/about/" class="advimg">
                    <img src="../static/images/profilepic/best-doggo.png" alt="profile-pic" class="profimg">
                    <p>A.C. Williams</p>
                  </a>
              </div>
              <div class="col" style="margin-top: 28.2%">
                  <a href="https://www.linkedin.com/company/ugahacks/about/" class="advimg">
                    <img src="../static/images/profilepic/best-doggo.png" alt="profile-pic" class="profimg">
                    <p>Stefan Tobler</p>
                  </a>
                  <a href="https://www.linkedin.com/company/ugahacks/about/" class="advimg">
                    <img src="../static/images/profilepic/best-doggo.png" alt="profile-pic" class="profimg">
                    <p>Thonny Koon</p>
                  </a>
              </div>
            </div>
        </div>
        <div class="tab-pane fade org-pad" id="nav-web" role="tabpanel" aria-labelledby="nav-web-tab">
          <br>
          <div class="row tabposition">
              <div class="col">
                  <a href="https://www.linkedin.com/in/noahbarnette/">
                    <img src="../static/images/profilepic/noahb.jpg" alt="profile-pic" class="profimg">
                    <p class="spswebtext">Noah Barnette</p>
                  </a>
                  <a href="https://www.linkedin.com/in/dlopez1212/" style="padding-left: 55%">
                    <img src="../static/images/profilepic/dannylop.jpg" alt="profile-pic" class="profimg">
                    <p class="spswebtext" style="margin-left: 71%; width: 320px;">Danny Lopez</p>
                  </a>
              </div>
              <div class="col">
                  <a href="https://www.linkedin.com/in/courtney-hogan/">
                    <img src="../static/images/profilepic/courtney-hogan.jpg" alt="profile-pic" class="profimg">
                    <p class="spswebtext">Courtney Hogan</p>
                  </a>
              </div>
            </div>
          <!-- <div class="row">
            <div class="col">
              <a href="https://www.linkedin.com/in/noahbarnette/">
                <img src="../static/images/profilepic/noahb.jpg" alt="profile-pic" class="profimgsize3">
                <p>Noah Barnette</p>
              </a>
            </div>
            <div class="col">
              <a href="https://www.linkedin.com/company/ugahacks/about/">
                <img src="../static/images/profilepic/best-doggo.png" alt="profile-pic" class="profimgsize3">
                <p>Courtney Hogan</p>
              </a>
            </div>
            <div class="col">
              <a href="https://www.linkedin.com/company/ugahacks/about/">
                <img src="../static/images/profilepic/best-doggo.png" alt="profile-pic" class="profimgsize3">
                <p>Danny Lopez</p>
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div id="Sponsors">
    <div class="section" data-aos="fade-up">
      <div class="sectionhead">
        <br>
        <h1>Sponsors</h1>
      </div>
      <div class="sectiontext">
        <h4>Interested in sponsoring us?</h4>
        <p>By sponsoring UGAHacks, your company will have the opportunity to inspire new programmers while also reaching
          out to and recruiting the rising stars of the tech industry. Please look over the <a
            href="{% static "docs/UGAHacks 5 Sponsorship Deck.pdf" %}" class="textlink">Sponsorship Packet</a> and <a
            href="mailto:sponsor@ugahacks.com" class="textlink">reach out to our sponsorship team for more
            information.</a></p>
        <br>
      </div>
    </div>
  </div>
  <div id="Pasthack">
    <div class="section" data-aos="fade-up">
      <div class="sectionhead">
        <br>
        <h1>Past Events</h1>
      </div>
      <div class="container" data-aos="fade-left">
        <div id="phcarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#phcarousel" data-slide-to="0" class="active"></li>
            <li data-target="#phcarousel" data-slide-to="1"></li>
            <li data-target="#phcarousel" data-slide-to="2"></li>
            <li data-target="#phcarousel" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <a href="https://4.ugahacks.com/"> <img class="d-block w-100 "
                  src="../static/images/banner/ugahacks4banner.JPG " alt="First slide "></a>

              <div class=" carousel-caption d-none d-md-block ">
                <p id="carstext1">Click me to see more!</p>
              </div>
            </div>
            <div class="carousel-item ">
              <a href="https://3.ugahacks.com/"><img class="d-block w-100 "
                  src="../static/images/banner/ugahacks3banner.JPG " alt="Second slide "></a>

              <div class="carousel-caption d-none d-md-block ">
                <p id="carstext2">Click me to see more!</p>
              </div>
            </div>
            <div class="carousel-item ">
              <a href="https://web.archive.org/web/20170514085830/http://www.ugahacks.com/"> <img class="d-block w-100 "
                  src="../static/images/banner/ugahacks2banner.JPG " alt="Third slide "></a>

              <div class="carousel-caption d-none d-md-block ">
                <p id="carstext3">Click me to see more!</p>
              </div>
            </div>
            <div class="carousel-item ">
              <a href="https://web.archive.org/web/20160305020755/https://ugahacks.com/"><img class="d-block w-100 "
                  src="../static/images/banner/ugahacks1banner.JPG " alt="Last slide "></a>

              <div class="carousel-caption d-none d-md-block ">
                <p id="carstext4">Click me to see more!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <a href="https://github.com/ugahacks/" class="footericons"><img src="../static/images/icons/icons8-github.png"></a>
    <a href="https://www.facebook.com/ugahacks/" class="footericons"><img
        src="../static/images/icons/icons8-facebook.png"></a>
    <a href="https://twitter.com/ugahacks" class="footericons"><img src="../static/images/icons/icons8-twitter.png"></a>
    <a href="https://www.instagram.com/ugahacks/" class="footericons"><img
        src="../static/images/icons/icons8-instagram.png"></a>
  </footer>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    var regtime = new Date("Nov 30, 2019 00:00:00").getTime();
    var x = setInterval(function () {
      var currtime = new Date().getTime();
      var timeleft = regtime - currtime;
      var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
      var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 3600));
      var mins = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
      var secs = Math.floor((timeleft % (1000 * 60)) / 1000);

      if (timeleft < 0) {
        clearInterval(x);
        document.getElementById("regcountdown").innerHTML = "Registration is Now Open!!!";
        document.getElementById("regcountdown").insertAdjacentHTML("afterend", "<br><a href='user/signup' id='regbtn'>Registration</a>");
        $(".timecol").remove();
      }
      else {
        document.getElementById("countdownd").innerHTML = days;
        document.getElementById("countdownh").innerHTML = hours;
        document.getElementById("countdownm").innerHTML = mins;
        document.getElementById("countdowns").innerHTML = secs;
      }
    })
  </script>
  <script type="text/javascript">
  particlesJS.load('particles-js', '{% static "js/particles-config.json" %}', function() {
    console.log('callback - particles.js config loaded');
  });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>
