/* Colors */
.uga-red,.uga-red:hover{color:#BA0C2F!important;background-color:#BA0C2F!important}

  body,h1,h2,h3,h4,h5,h6 {font-family: "Poppins", sans-serif;}
  body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
  }
